body{
    background-image: url(https://wallpaperaccess.com/full/49907.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    width: 240px;
    border-radius: 75%;
}

.btn-default b{
    font-size: 30px;
    color: black;
}

.status{
    background-color: honeydew;
    color: blue;
    font-weight: bold;
}

.btn-success{
    font-size: medium;
}

canvas
{
	background: pink;
	border-radius: 20px;
}